body{
    margin: 0px;
    padding: 0px;
}

header{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    height: 18px;
    margin-left: 20px;
}

.listadelinks{
    display: flex;
    list-style: none;
}

.listadelinks a{
    color: blanchedalmond;
    text-decoration: none;
    margin-right: 20px;
}

.listadelinks a:hover{
    color: coral;
}

main{
    display: flex;
    justify-content: start;
    align-items: center;
    height: calc(100vh - 80px);
    background-image: url(assets/fundo.png);
}

.container-dos-textos{
    margin-left: 20px;
}
      
.container-dos-textos h1{
    font-size: 50px;
    color: cornflowerblue;
}

.container-dos-textos h3{
    color: cornsilk;
    margin-bottom: 40px;
}

.container-dos-textos button{
    height: 50px;
    width: 120px;
    border-radius: 8px;
    font-size: 15px;
}